.register {
  max-width: 880px;
  margin: 0 auto;
}

.register__title {
  text-align: center;
  font-size: 24px;
}
.register__signin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.register__text {
  margin-right: 12px;
}

.register__login-link {
  color: white;
  text-decoration: none;
}
